<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<div class="col-md-6">
		<label for="title"><f:translate key="tx_candidateresume_domain_model_experience.title" /></label>
		<f:form.textfield property="title" id="title" value="{experience.title}" class="form-control"/>
	</div>
	<div class="col-md-6">
		<label for="company"><f:translate key="tx_candidateresume_domain_model_experience.company" /></label>
		<f:form.textfield property="company" id="company" value="{experience.company}" class="form-control"/>
	</div>
	<div class="col-md-6">
		<label for="startDate"><f:translate key="tx_candidateresume_domain_model_experience.start_date" /></label>
		<f:form.textfield property="startDate" id="startDate" value="{experience.startDate}" class="form-control date-picker"/>
	</div>
	<div class="col-md-6">
		<label for="endDate"><f:translate key="tx_candidateresume_domain_model_experience.end_date" /></label>
		<f:form.textfield property="endDate" id="endDate" class="form-control date-picker" value="{experience.endDate}" />
	</div>
	<div class="col-md-6">
		<label for="description"><f:translate key="tx_candidateresume_domain_model_experience.description" /></label>
		<f:form.textfield property="description" id="description" value="{experience.description}" class="form-control" />
	</div>
	<div class="col-md-6">
		<label for="address"><f:translate key="tx_candidateresume_domain_model_experience.address" /></label>
		<f:form.textfield property="address" id="address" value="{experience.address}" class="form-control" />
	</div>
</html>