<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <link href="typo3conf/ext/candidateresume/Resources/Public/Css/material-bootstrap-wizard.css" rel="stylesheet"/>
    <section class="resum-form padd-tb padding-top-30">
        <div class="container">
            <div class="row">
                <f:flashMessages />
                <f:render partial="FormErrors" arguments="{object:object}" />
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="wizard-container">
                                <!--  You can switch " data-color="rose" "  with one of the next bright colors: "blue", "green", "orange", "purple" -->
                                <div class="card wizard-card" data-color="purple" id="wizard">
                                    <div class="wizard-header">
                                        <h3 class="wizard-title">Candidate</h3>
                                    </div>
                                    <f:form action="{action}" id="{name}" name="{name}" object="{newObject}" arguments="{candidate : candidate}"  enctype="multipart/form-data">
                                        <f:render partial="{controller}/FormWizard" arguments="{candidate : candidate, name : name}" />
                                    </f:form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</html>