<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
<script type="text/javascript">
    var ajaxURLUpdateAcquiredSkils = '<f:uri.action action="updateAcquiredSkills" controller="Candidate" pageType="97" arguments="{candidate : candidate}" noCacheHash="1" />';
    var autoskills = [];
</script>
<div class="skills-box">
        <h4><i class="fa fa-code color-pink" aria-hidden="true"></i> Skills</h4>
        <div class="progress-box">
            <f:for each="{skills}" as="skill">
                <script>autoskills.push('{skill.title}');</script>
            </f:for>
            <f:form id="updateAcquiredSkills" action="updateAcquiredSkills" controller="Candidate" name="candidate" object="{candidate}" >
                <div class="col-sm-12">
                    <f:form.textfield property="acquiredSkills" id="acquiredSkills" value="{candidate.acquiredSkills}" />
                </div>
                <div class="col-sm-12 text-center">
                    <f:form.submit value="Save" id="acquiredskillssubmit" class="btn btn-primary pull-right" />
                </div>
            </f:form>
        </div>
    </div>
</html>