<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-candidateresume" >
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.first_name" />
		</td>
		<td>
		{candidate.firstName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.last_name" />
		</td>
		<td>
		{candidate.lastName}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.address" />
		</td>
		<td>
		{candidate.address}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.city" />
		</td>
		<td>
		{candidate.city}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.phone" />
		</td>
		<td>
		{candidate.phone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.email" />
		</td>
		<td>
		{candidate.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.longitude" />
		</td>
		<td>
		{candidate.longitude}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_candidateresume_domain_model_candidate.latittude" />
		</td>
		<td>
		{candidate.latittude}
		</td>
	</tr>
</table>
</html>