<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Candidate</h1>

<f:flashMessages />

<table  class="tx_candidateresume" >
	<tr>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.first_name" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.last_name" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.address" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.city" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.phone" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.email" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.longitude" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_candidate.latittude" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{candidates}" as="candidate">
		<tr>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.firstName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.lastName}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.address}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.city}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.phone}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.email}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.longitude}</f:link.action></td>
			<td><f:link.action action="show" arguments="{candidate : candidate}"> {candidate.latittude}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{candidate : candidate}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{candidate : candidate}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Candidate</f:link.action>
</f:section>
</html>