<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <div class="summary-box">
        <h4>
            <i class="fa fa-university color-pink" aria-hidden="true"></i> Education
            <i class="fa fa-plus color-bleu-fa pull-right pointer" aria-hidden="true" onclick="addCandidatEducations();"></i>
        </h4>
        <!-- add -->
        <div id="addeducation" class="row hidden">
            <script type="text/javascript">
                var ajaxURLAddEducation = '<f:uri.action action="createAjax" controller="Education" pageType="99" arguments="{candidate : candidate}" noCacheHash="1" />';
            </script>
            <f:form id="newEducation" action="createAjax" controller="Education" name="newEducation" object="{newEducation}" arguments="{candidate : candidate}">
                <f:render partial="Education/FormFields" />
                <div class="pull-right">
                    <input type="button" class="btn  btn-fill btn-primary btn-wd" id="educationsubmit" value="Save" />
                </div>
            </f:form>
        </div><!-- /add -->
        <!-- list -->
        <div id="diveducationslist">
            <f:for each="{educations}" as="education">
                <!-- Button delete : remove education -->
                <f:link.action action="delete" controller="Education" arguments="{education : education, candidate:candidate}" title="Delete this education">
                    <i class="fa fa-trash color-bleu-fa pull-right pointer" aria-hidden="true"></i>
                </f:link.action><!-- /Button delete : remove education -->
                <!-- Button edit : update education -->
                <i class="fa fa-edit color-bleu-fa pull-right pointer" aria-hidden="true" onclick="editCandidatEducations({education.uid});"></i><!-- /Button edit : update education -->
                <!-- show -->
                <div class="outer outer-top" id="candidateducations{education.uid}">
                    <strong class="title">{education.degree}, {education.school}</strong>
                    <div class="col">
                        <span>{education.fromDate} - {education.toDate}</span>
                        <p>{education.fieldStudy}</p>
                    </div>
                </div><!-- /show -->
                <!-- edit -->
                <div id="editcandidateducations{education.uid}" class="outer hidden" style="padding-top: 10px;border-top: 1px solid #4b74a7;">
                    <f:form id="formsubmiteducation{education.uid}" action="update" controller="Education" name="education" object="{education}" arguments="{education : education , candidate : candidate}" >
                        <f:render partial="Education/FormFields" arguments="{education: education}" />
                        <f:form.submit id="submiteducation{education.uid}" class="btn btn-primary pull-right" value="Save" />
                    </f:form>
                </div><!-- /edit -->
            </f:for>
        </div><!-- /list -->
    </div>
</html>