<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div class="wizard-navigation">
        <ul>
            <li><div data-toggle="tab" class="margin-10">Informations</div></li>
            <li class="active"><a href="#educations" data-toggle="tab">Educations</a></li>
            <li><div data-toggle="tab" class="margin-10">Experiences</div></li>
        </ul>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="educations">
            <h4 class="info-text"><i class="fa fa-university" aria-hidden="true"></i> Your education</h4>
            <div class="row">
                <div class="col-sm-8">
                    <!-- School -->
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">school</i></span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="school">
                                    <f:translate key="tx_candidateresume_domain_model_education.school"/>
                                    <span class="required">(required)</span>
                                </label>
                                <f:form.textfield property="school" id="school" class="form-control"/>
                            </div>
                        </div>
                    </div><!-- /School -->
                    <!-- degree -->
                    <div class="col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">clear_all</i></span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="degree">
                                    <f:translate key="tx_candidateresume_domain_model_education.degree" />
                                    <span class="required">(required)</span>
                                </label>
                                <f:form.textfield property="degree" id="degree" class="form-control"/>
                            </div>
                        </div>
                    </div><!-- /degree -->
                    <!-- fieldStudy -->
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">library_books</i></span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="fieldStudy">
                                    <f:translate key="tx_candidateresume_domain_model_education.field_study" />
                                    <span class="required">(required)</span>
                                </label>
                                <f:form.textfield property="fieldStudy" id="fieldStudy" class="form-control"/>
                            </div>
                        </div>
                    </div><!-- /fieldStudy -->
                    <!-- fromDate -->
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">date_range</i></span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="fromDate">
                                    <f:translate key="tx_candidateresume_domain_model_education.from_date" />
                                    <span class="required">(required)</span>
                                </label>
                                <f:form.textfield property="fromDate" id="fromDate" class="form-control date-picker" value="{education.fromDate}" />
                            </div>
                        </div>
                    </div><!-- /fromDate -->
                    <!-- toDate -->
                    <div class="col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="material-icons">today</i></span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label" for="toDate">
                                    <f:translate key="tx_candidateresume_domain_model_education.to_date" />
                                    <span class="required">(required)</span>
                                </label>
                                <f:form.textfield property="toDate" id="toDate" class="form-control date-picker" value="{education.toDate}" />
                            </div>
                        </div>
                    </div><!-- /toDate -->
                </div>
                <div class="col-sm-4 pre-scrollable" style="overflow: auto;">
                    <li class="list-group-item text-center">
                        <i class="fa fa-university" aria-hidden="true"></i> Qualifications
                    </li>
                    <div id="educationslist">
                        <f:for each="{candidate.educations}" as="education">
                            <li class="list-group-item">
                                {education.school}, {education.degree}, {education.fieldStudy}
                                <span class="text-muted">({education.fromDate} - {education.toDate})</span></li>
                        </f:for>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wizard-footer">
        <div class="pull-right">
            <input type="button" class="btn  btn-fill btn-primary btn-wd" id="educationsubmit" value="Save" />
        </div>
        <div class="pull-left">
            <f:link.action action="edit" controller="Candidate" arguments="{candidate : candidate}" class="btn btn-default" title="Go to the candidate">
                <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            </f:link.action>
            <f:link.action action="new" controller="Experience" arguments="{candidate : candidate}" class="btn btn-default" title="Go to add experiences">
                <i class="fa fa-angle-double-right" aria-hidden="true"></i>
            </f:link.action>
        </div>
        <div class="clearfix"></div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#educationsubmit').click(function(){
                if( $('#school').val() != '' &&  $('#degree').val() != '' &&  $('#fieldStudy').val() != '' )
                {
                    var ajaxURL = '<f:uri.action action="createAjax" controller="Education" pageType="99" arguments="{candidate : candidate}" noCacheHash="1" />';
                    var form = $('#newEducation');
                    $.post(ajaxURL, form.serialize(), function(response) {
                        var items = [];
                        $.each(response, function(key, val) {
                            items.push('<li class="list-group-item">' + val.school + ', ' + val.degree + ', ' + val.fieldstudy + ' <span class="text-muted">(' + val.fromdate + ' - ' + val.todate + ')</span>' + '</li>');
                        });
                        $('#educationslist').html(items.reverse().join(''));
                        $('#school').val('');
                        $('#fieldStudy').val('');
                        $('#degree').val('');
                        $('#school').removeClass('is-empty-input');
                        $('#fieldStudy').removeClass('is-empty-input');
                        $('#degree').removeClass('is-empty-input');
                        notification('minimalist', 'Saved !','Education added');
                    });
                    return false;
                }else{
                    $('#school').addClass('is-empty-input');
                    $('#fieldStudy').addClass('is-empty-input');
                    $('#degree').addClass('is-empty-input');
                    notification('danger', 'Error !','<br>Try to complete all informations');
                }
            });
        });
    </script>
</html>