<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="main">
		<f:render partial="Banner/Banner" section="Banner" arguments="{title: 'Search candidate', form : 1}" />
		<div class="container" id="main-content-container">
			<div class="row">
				<!-- Content left -->
				<div class="col-md-9">
					<div id="content-area">
						<h3 class="text-center color-pink">Recent Candidates Added</h3>
						<!-- dispaly all candidates -->
						<ul id="myList">
							<f:widget.paginate objects="{candidates}" as="candidatesproject" configuration="{itemsPerPage: 5, insertAbove: 0, insertBelow: 1, maximumNumberOfLinks: 7}">
								<f:for each="{candidatesproject}" as="candidate">
									<f:render partial="Candidate/DisplayCandidate" section="DisplayCandidate" arguments="{candidate: candidate}" />
								</f:for>
							</f:widget.paginate>
						</ul><!-- dispaly all candidates -->
					</div>
				</div><!-- /Content left -->
				<!-- Content right -->
				<div class="col-md-3 col-sm-4">
					<f:render partial="Candidate/ListRight" arguments="{languages: languages, skills: skills}" />
				</div><!-- /Content right -->
			</div>
		</div>
	</f:section>
</html>