<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <div class="clearfix">
        <!-- Candidate's Pdf resume -->
        <f:render partial="Candidate/PdfResume" arguments="{candidate:candidate, resumefile:resumefile}" /><!-- /Candidate's Pdf resume -->
        <!-- Candidate's Interview details -->
        <f:render partial="Candidate/InterviewDetails" arguments="{candidate:candidate}" /><!-- /Candidate's Interview details -->
        <!-- Candidate's Educations -->
        <f:render partial="Education/Details" arguments="{candidate:candidate, educations:educations}" /><!-- /Candidate's Educations -->
        <!-- Candidate's Experiences -->
        <f:render partial="Experience/Details" arguments="{candidate:candidate, experiences:experiences}" /><!-- /Candidate's Experiences -->
        <!-- Candidate's Skills ajax -->
        <f:render partial="Skill/Details" arguments="{candidate:candidate, skills:skills}" /><!-- /Candidate's Skills ajax -->
        <!-- Candidate's Languages -->
        <f:render partial="Language/Details" arguments="{candidate:candidate, languages:languages}" /><!-- /Candidate's Languages -->
    </div>
    <!-- script ajax -->
    <script type="text/javascript">
        $(document).ready(function(){
            //start change details interview
            $('#interviewsubmit').click(function(){
                var ajaxURL = '<f:uri.action action="updateAjax" controller="Candidate" pageType="98" arguments="{candidate : candidate}" noCacheHash="1" />';
                var form = $('#updateInterview');
                $.post(ajaxURL, form.serialize(), function(response) {
                    var items = [];
                    $.each(response, function(key, val) {
                        $("#availabilityElement").text(val.availabilityElement);
                        $("#interviewNotesElement").text(val.interviewNotesElement);
                        $("#realInterviewDateElement").text(val.realInterviewDateElement.date);
                        $("#plannedInterviewDateElement").text(val.plannedInterviewDateElement.date);
                    });
                    disableIterviewDetails();
                    notification('minimalist', 'Saved !','Interview details changed');
                });
                return false;
            });//end change details interview
            //start change info candidadate
            $('#infosubmit').click(function(){
                var ajaxURL = '<f:uri.action action="updateInfoAjax" controller="Candidate" pageType="95" arguments="{candidate : candidate}" noCacheHash="1" />';
                var form = $('#updateInfo');
                $.post(ajaxURL, form.serialize(), function(response) {
                    var items = [];
                    $.each(response, function(key, val) {
                        $("#candidatfirstname").text(val.candidatfirstname);
                        $("#candidatlastname").text(val.candidatlastname);
                        $("#candidatprofessionaltitle").text(val.candidatprofessionaltitle);
                        $("#candidataddress").text(val.candidataddress);
                        $("#candidatcity").text(val.candidatcity);
                        $("#candidatphone").text(val.candidatphone);
                        $("#candidatemail").text(val.candidatemail);
                    });
                    ediInfosCandidat();
                    notification('minimalist', 'Saved !','Candidate basic informations are changed');
                });
                return false;
            });//end change info candidadate
            //start change acquiredskills
            $('#acquiredskillssubmit').click(function(){
                var ajaxURL = '<f:uri.action action="updateAcquiredSkills" controller="Candidate" pageType="97" arguments="{candidate : candidate}" noCacheHash="1" />';
                var form = $('#updateAcquiredSkills');
                $.post(ajaxURL, form.serialize(), function(response) {
                    var items = [];
                    $.each(response, function(key, val) {});
                    notification('minimalist', 'Saved !','Acquired Skills changed');
                });
                return false;
            });//end change acquiredskills
            //start change spoken languages
            $('#spokenlangugessubmit').click(function(){
                var ajaxURL = '<f:uri.action action="updateSpokenLanguges" controller="Candidate" pageType="96" arguments="{candidate : candidate}" noCacheHash="1" />';
                var form = $('#updateSpokenLanguges');
                $.post(ajaxURL, form.serialize(), function(response) {
                    var items = [];
                    $.each(response, function(key, val) {});
                    notification('minimalist', 'Saved !','Spoken languages changed');
                });
                return false;
            });//end change spoken languages
        });
    </script><!-- /script ajax -->
</html>