<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <div class="clearfix">
        <!-- Candidate's Pdf resume -->
        <f:render partial="Candidate/PdfResume" arguments="{candidate:candidate, resumefile:resumefile}" /><!-- /Candidate's Pdf resume -->
        <!-- Candidate's Interview details -->
        <f:render partial="Candidate/InterviewDetails" arguments="{candidate:candidate}" /><!-- /Candidate's Interview details -->
        <!-- Candidate's Educations -->
        <f:render partial="Education/Details" arguments="{candidate:candidate, educations:educations}" /><!-- /Candidate's Educations -->
        <!-- Candidate's Experiences -->
        <f:render partial="Experience/Details" arguments="{candidate:candidate, experiences:experiences}" /><!-- /Candidate's Experiences -->
        <!-- Candidate's Skills ajax -->
        <f:render partial="Skill/Details" arguments="{candidate:candidate, skills:skills}" /><!-- /Candidate's Skills ajax -->
        <!-- Candidate's Languages -->
        <f:render partial="Language/Details" arguments="{candidate:candidate, languages:languages}" /><!-- /Candidate's Languages -->
    </div>
</html>