<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<link href="typo3conf/ext/naderioprovider/Resources/Public/Css/editor.css" rel="stylesheet" type="text/css">
    <div class="col-md-6 col-sm-6">
        <label for="firstName">
            <f:translate key="tx_candidateresume_domain_model_candidate.first_name" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="firstName" id="firstName" placeholder="Your first name" />
    </div>
    <div class="col-md-6 col-sm-6">
        <label for="lastName">
            <f:translate key="tx_candidateresume_domain_model_candidate.last_name" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="lastName" id="lastName" placeholder="Your last name" />
    </div>
    <div class="col-md-6 col-sm-6">
        <label for="address">
            <f:translate key="tx_candidateresume_domain_model_candidate.address" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="address" id="address" placeholder="Your location"  />
    </div>
    <div class="col-md-6 col-sm-6">
        <label for="city">
            <f:translate key="tx_candidateresume_domain_model_candidate.city" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="city" id="city" placeholder="Your city" />
    </div>
    <div class="col-md-6 col-sm-6">
        <label for="phone">
            <f:translate key="tx_candidateresume_domain_model_candidate.phone" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="phone" id="phone" placeholder="Your phone number" />
    </div>
    <div class="col-md-6 col-sm-6">
        <label for="email">
            <f:translate key="tx_candidateresume_domain_model_candidate.email" /> <span class="required">(*)</span>
        </label>
        <f:form.textfield property="email" type="email" id="email" placeholder="you@jobsalerts.com" />
    </div>
    <div class="col-md-6 col-sm-6">
        <label>Professional Title *</label>
        <input type="text" placeholder="e.g. “App Developer”">
    </div>
    <div class="col-md-6 col-sm-6">
        <label>Upload Your Photo</label>
        <div class="upload-box">
            <div class="hold"><a href="http://html.crunchpress.com/jobinn/job-seekers.html#">
                Maximum file size 10 MB</a> <span class="btn-file"> Browse File
                <input type="file">
            </span>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="text-editor-box">
            <textarea class="txtEditor"></textarea>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <label>Add Your Skills</label>
        <input type="text" placeholder="Comma separate a list of relevant skills">
    </div>
    <div class="col-md-6 col-sm-6">
        <label>Resume File</label>
        <div class="upload-box">
            <div class="hold"><a href="http://html.crunchpress.com/jobinn/job-seekers.html#">Maximum
                file size 20 MB</a> <span class="btn-file"> Browse File
                <input type="file">
            </span>
            </div>
        </div>
    </div>
    <div class="accordion-style-1">
        <div class="col-md-4 col-sm-4">
            <h4>Add URL(s)</h4>
            <div class="cp_aaccordion-row">
                <div class="accordion_cp accordion-close" id="section9"><span><i
                        class="fa fa-minus"></i></span>Add URL
                </div>
                <div class="contain_cp_accor" style="display: none;">
                    <div class="content_cp_accor">
                        <ul>
                            <li>
                                <label>Name</label>
                                <input type="text" placeholder="Name">
                            </li>
                            <li>
                                <label>URL</label>
                                <input type="text" placeholder="URL">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <h4>Add Education</h4>
            <div class="cp_aaccordion-row">
                <div class="accordion_cp accordion-close" id="section10"><span><i
                        class="fa fa-chevron-right"></i></span>Add Education
                </div>
                <div class="contain_cp_accor" style="display: none;">
                    <div class="content_cp_accor">
                        <ul>
                            <li>
                                <label>School Name</label>
                                <input type="text" placeholder="School Name">
                            </li>
                            <li>
                                <label>Qualification(s)</label>
                                <input type="text" placeholder="Certificates / Degree">
                            </li>
                            <li>
                                <label>Start / End Date</label>
                                <input type="text" placeholder="Start Date and End Date">
                            </li>
                            <li>
                                <label>Description (optional)</label>
                                <textarea cols="10" rows="10" placeholder="Description"></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4">
            <h4>Experience</h4>
            <div class="cp_aaccordion-row">
                <div class="accordion_cp accordion-open" id="section11">
                    <span><i class="fa fa-chevron-right"></i></span>Add Experience
                </div>
                <div class="contain_cp_accor" style="display: block;">
                    <div class="content_cp_accor">
                        <ul>
                            <li>
                                <label>Employer</label>
                                <input type="text" placeholder="Company Name">
                            </li>
                            <li>
                                <label>Job Title</label>
                                <input type="text" placeholder="Your Designation">
                            </li>
                            <li>
                                <label>Start / End Date</label>
                                <input type="text" placeholder="Start Date and End Date">
                            </li>
                            <li>
                                <label>Description (optional)</label>
                                <textarea cols="10" rows="10" placeholder="Description"></textarea>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</html>