<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers" xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers" xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers">
    <div class="summary-box" id="interviwdetails">
        <h4>
            <i class="fa fa-black-tie color-pink" aria-hidden="true"></i> Interview details
            <i class="fa fa-edit  color-bleu-fa pull-right pointer" aria-hidden="true" onclick="ediIterviewDetails();"></i>
        </h4>
        <div style="padding: 10px;">
            <span>
                <b class="col-sm-3 col-xs-6 no-padding-right-left"><i class="fa fa-clock-o color-bleu-fa" aria-hidden="true"></i> Availibility</b>
                <span id="availabilityElement" class="col-sm-9 col-xs-6 no-padding-right-left"><f:format.case mode="capital">{candidate.availability}</f:format.case></span>
            </span>
            <span>
                <b class="col-sm-3 col-xs-6 no-padding-right-left"><i class="fa fa-calendar color-bleu-fa"></i> Planned date</b>
                <span id="plannedInterviewDateElement" class="col-sm-9 col-xs-6 no-padding-right-left">{candidate.plannedInterviewDate}</span>
            </span>
            <span>
                <b class="col-sm-3 col-xs-6 no-padding-right-left"><i class="fa fa-calendar color-bleu-fa"></i> Real date</b>
                <span id="realInterviewDateElement" class="col-sm-9 col-xs-6 no-padding-right-left">{candidate.realInterviewDate}</span>
            </span>
            <span>
                <b class="col-xs-12 no-padding-right-left"> <i class="fa fa-edit color-bleu-fa"></i> Notes</b>
            </span>
            <span class="text-justify col-sm-12" id="interviewNotesElement" style="padding-top: 10px;">
                {candidate.interviewNotes}
            </span>
        </div>
    </div>
    <!-- Candidate's Interview details (edit) -->
    <div class="summary-box" id="editinterviwdetails" style="display: none;">
        <h4>
            <i class="fa fa-black-tie color-pink" aria-hidden="true"></i> Interview details
            <i class="fa fa-edit color-bleu-fa pull-right pointer" aria-hidden="true" onclick="disableIterviewDetails();"></i>
        </h4>
        <div style="padding: 20px;">
            <script type="text/javascript">
                var ajaxURLUpdateInterviewDetails = '<f:uri.action action="updateAjax" controller="Candidate" pageType="98" arguments="{candidate : candidate}" noCacheHash="1" />';
            </script>
            <f:form id="updateInterview" action="updateAjax" controller="Candidate" name="candidate" object="{candidate}" >
                <span>
                    <label for="availability1"><i class="fa fa-clock-o color-bleu-fa" aria-hidden="true"></i> Availibility</label> <br />
                    <div class="text-center">
                        <i class="fa fa-check color-bleu-fa" aria-hidden="true" for="availability1"></i> Yes <f:form.radio property="availability" id="availability1" value="yes"  />
                        <i class="fa fa-close color-bleu-fa" aria-hidden="true" for="availability2"></i> No <f:form.radio property="availability"  id="availability2" value="no" />
                    </div>
                </span>
                <span>
                    <label for="plannedInterviewDate"><i class="fa fa-calendar color-bleu-fa" aria-hidden="true"></i> Planned date</label>
                    <f:form.textfield property="plannedInterviewDate" id="plannedInterviewDate" class="form-control col-sm-12 date-picker" value="{candidate.plannedInterviewDate}" />
                </span>
                <span>
                    <label for="realInterviewDate"><i class="fa fa-calendar color-bleu-fa" aria-hidden="true"></i> Real date</label>
                    <f:form.textfield property="realInterviewDate" id="realInterviewDate" class="form-control col-sm-12 date-picker" value="{candidate.realInterviewDate}" />
                </span>
                <span>
                    <i class="fa fa-edit color-bleu-fa"></i> <b>Notes : </b>
                    <f:form.textarea property="interviewNotes" id="interviewNotes" value="{candidate.interviewNotes}" class="form-control noresize col-sm-12" />
                </span>
                <f:form.submit value="Save" id="interviewsubmit" class="btn btn-primary pull-right" />
            </f:form>
        </div>
    </div><!-- /Candidate's Interview details (edit) -->
</html>