{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Footer">

        <footer id="footer">
            <div class="container">
                <div class="bottom-row">
                    <strong class="copyrights">
                        Softtodo © 2017
                    </strong>
                    <div class="footer-social">
                        <ul>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </f:section>

</div>