{namespace flux=FluidTYPO3\Flux\ViewHelpers}{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:if condition="{heading}">
	<div class="heading-block ">
		<h3 class="heading-{headingtype}-block main-headline-font">{heading}</h3>

	</div>
</f:if>

<f:if condition="{subheading}">
	<div class="heading-block {f:if(condition: separator, then: 'headline_sub_separator')} ">
		<h3 class="heading-{subheadingtype}-block sub-headline-font">{subheading}</h3>
	</div>
</f:if>

<f:if condition="{row-count} == 'col-100'">
	<f:then>
		<div class="col_full {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-50-50'">
	<f:then>
		<div class="col_half {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')} vertical-center">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_half col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-66-33'">
	<f:then>
		<div class="col_two_third {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_one_third col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-33-66'">
	<f:then>
		<div class="col_one_third {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_two_third col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-60-40'">
	<f:then>
		<div class="col_three_fifth {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_two_fifth col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-40-60'">
	<f:then>
		<div class="col_two_fifth {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_three_fifth col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-33-33-33'">
	<f:then>
		<div class="col_one_third {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_one_third {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
		<div class="col_one_third col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col3"/>
		</div>
	</f:then>
</f:if>
<f:if condition="{row-count} == 'col-25-25-25-25'">
	<f:then>
		<div class="col_one_fourth {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col1"/>
		</div>
		<div class="col_one_fourth {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col2"/>
		</div>
		<div class="col_one_fourth {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col3"/>
		</div>
		<div class="col_one_fourth col_last {f:if(condition:'{marginraw}', then:'normalMargin', else:'noMarginBottom')}">
			<flux:content.render area="col4"/>
		</div>
	</f:then>
</f:if>