{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://fedext.net/ns/vhs/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:section name="Navbar">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Project name</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <v:page.menu useShortcutUid="1" title="{item.linktext}" levels="1" excludePages="">
                            <f:for each="{menu}" as="item" iteration="i">
                                <li class='<f:if condition="{item.uid}=={page.uid}">active</f:if>'>
                                    <f:link.page pageUid="{item.uid}" title="{item.linktext}">
                                        {item.linktext}
                                    </f:link.page>
                                </li>
                            </f:for>
                        </v:page.menu>

                    </ul>
                    <div class="">
                        <f:cObject typoscriptObjectPath="lib.connect" />
                    </div>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </f:section>
</div>