<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Education</h1>

<f:flashMessages />

<table  class="tx_candidateresume" >
	<tr>
		<th><f:translate key="tx_candidateresume_domain_model_education.school" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_education.degree" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_education.field_study" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_education.from_date" /></th>
		<th><f:translate key="tx_candidateresume_domain_model_education.to_date" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{educations}" as="education">
		<tr>
			<td><f:link.action action="show" arguments="{education : education}"> {education.school}</f:link.action></td>
			<td><f:link.action action="show" arguments="{education : education}"> {education.degree}</f:link.action></td>
			<td><f:link.action action="show" arguments="{education : education}"> {education.fieldStudy}</f:link.action></td>
			<td><f:link.action action="show" arguments="{education : education}"> {education.fromDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{education : education}"> {education.toDate -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{education : education}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{education : education}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Education</f:link.action>
</f:section>
</html>